@page "/countries"
@using Aytam.Data
@using Aytam.Components
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext _db
<h1>Countries</h1>
<AddCountry OnCountryAdded="AddCountryToList"></AddCountry>
<AlertMessage Message="@_Message" AlertType="@_AlertType"></AlertMessage>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Country Code</th>
            <th scope="col">Country Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in CountriesList)
        {
            <tr>
                <td>@item.CountryCode</td>
                <td>@item.CountryName</td>
                <td><button type="button" class="btn btn-outline-danger" @onclick="async () => {await DeleteCountry(item.CountryCode); }">X</button></td>
            </tr>
        }

    </tbody>
</table>



@code {
    private List<Country> CountriesList = new List<Country>();
    private string _Message = "";
    private AlertType _AlertType = AlertType.Secondary;

    protected override async void OnInitialized()
    {
        base.OnInitialized();
        CountriesList = await _db.Countries.ToListAsync();
    }
    private async Task DeleteCountry(string cc)
    {
        try
        {
            Country country = _db.Countries.Find(cc);
            _db.Countries.Remove(country);
            await _db.SaveChangesAsync();
            CountriesList.Remove(country);
            _Message = "Deleted Successfully";
            _AlertType = AlertType.Success;

        }
        catch (Exception ex)
        {
            _Message = ex.Message;
            _AlertType = AlertType.Danger;
        }

    }
    private void AddCountryToList(Country country)
    {
        CountriesList.Add(country);
    }


}
