@page "/parents"
@using Aytam.Data
@using Aytam.Components.Parents

<h1>Parents</h1>

<div class="row">
    <div class="col-4">
<ParentsList OnParentSelected="(p) => {parent = p;}"></ParentsList>
    </div>
    <div class="col">
        @if (parent == null)
        {
            
        }else {
<ParentDetails parent=parent></ParentDetails>
        }

    </div>
</div>

@code {
private Parent parent {get; set;}

}